@import "./variable.scss";
@import "./icon.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--main-content-clr);
  font-family: "Monda", "Noto Sans TC", sans-serif;
}

body {
  background: var(--main-bg);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.flex-vertical-center {
  display: flex;
  align-items: center;
}

.flex-horizontal-center {
  display: flex;
  justify-content: center;
}

.center {
  display: grid;
  place-items: center;
}

.transition {
  transition: 0.25s;
}

.page-title {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 16px;
  font-weight: 700;
}

input {
  border: 1px solid var(--border-clr);
  padding: 8px 12px;
  &:focus {
    outline: none;
  }
}
