@import "./variable.scss";
@import "./icon.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--main-content-clr);
  font-family: "Monda", "Noto Sans TC", sans-serif;
}

body {
  background: var(--main-bg);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.flex-vertical-center {
  display: flex;
  align-items: center;
}

.flex-horizontal-center {
  display: flex;
  justify-content: center;
}

.center {
  display: grid;
  place-items: center;
}

.transition {
  transition: 0.25s;
}

.page-title {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 16px;
  font-weight: 700;
}

input {
  border: 1px solid var(--border-clr);
  padding: 8px 12px;
  background: none;
  &:focus {
    outline: none;
  }
}

.normal-container {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid var(--container-border);
  background: var(--container-bg);
}

.not-scroll {
  height: 100%;
  overflow-y: hidden;
}

.form-control {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  input {
    flex-grow: 1;
  }
}

.pb-1 {
  padding-bottom: 1rem;
}

.no-wrap {
  white-space: nowrap;
}
