@import "./variable.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--main-content-clr);
  font-family: "Monda", "Noto Sans TC", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.flex-vertical-center {
  display: flex;
  align-items: center;
}

.flex-horizontal-center {
  display: flex;
  justify-content: center;
}

.center {
  display: grid;
  place-items: center;
}
