:root {
  // color
  --main-clr: #e60012;
  --main-content-clr: #333;
  --header-bg: #ffffff;
  --border-clr: #e5e7eb;
  --darken-border-clr: rgb(203 213 225 / 1);
  --light-grey-clr: rgba(15, 23, 42, 0.1);

  // width & height
  --header-height: 60px;
  --container-width: 1440px;
  --nav-width: 250px;
}
