:root {
  // color
  --main-clr: #ef233c;
  --main-green: #42b883;
  --main-content-clr: #aaa;
  --main-bg: #050913;
  --border-clr: #e5e7eb;
  --darken-border-clr: rgb(203 213 225 / 1);
  --darken-border-clr-second: rgb(148 163 184 / 1);
  --light-grey-clr: rgba(15, 23, 42, 0.1);
  --hover-red: hsla(355, 100%, 45%, 0.3);
  --light-main-bg: #05091371;
  --container-bg: #181a25;
  --container-border: #3d3e42;

  // width & height
  --header-height: 60px;
  --container-width: 1200px;
  --nav-width: 250px;
}
